<!DOCTYPE html>
<html>
    <head>
        <title>Sorting Visualiszer</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <style>
            body {
                background-color: black;
                color: white;
            }
        </style>

        <script>
            document.addEventListener('DOMContentLoaded', () => {
                var c = document.querySelector('#mycanvas');
                c.height = screen.height;
                c.width = screen.width;
                var ctx = c.getContext("2d");

                document.getElementById('perform').onclick = () => {
                    //alert(document.getElementById("algo").value);
                    var api_call = new XMLHttpRequest();
                    var url = 'http://127.0.0.1:5000/api';
                    /*
                    function fun(data) {
                        for(var i = 1; i <= 10; i++) {
                            document.querySelector('.response').innerHTML += data[i] + '<br>';
                        }
                    }
                    */

                    function draw_settings(x, y, width, height, color) {
                        // rectangle settings
                        ctx.beginPath();
                        ctx.rect(40 + 15 * x, y, width, 20 * height);
                        ctx.fillStyle = color;
                        ctx.fill();
                    }

                    function draw(arr) {
                        // draw all rectangles representing the array
                        for(var i = 0; i < arr.length - 2; i++) {
                            draw_settings(i, 40, 10, arr[i], "white");
                        }
                        draw_settings(arr[arr.length - 2], 40, 10, arr[arr[arr.length - 2]], "yellow");
                        draw_settings(arr[arr.length - 1], 40, 10, arr[arr[arr.length - 1]], "red");
                    }

                    function clear_canvas() {
                        // clear the canvas every time an array is drawn
                        ctx.clearRect(0, 0, c.width, c.height);
                    }

                    function fun(data) {
                        /*
                            bubble sort - time = 10 * i
                            insertion sort - time = 40 * i
                            selection sort - time = 100 * i
                        */
                        for(var i = 1; i <= Object.keys(data).length; i++) {
                            setTimeout((arr) => {
                                clear_canvas();
                                draw(arr);
                            }, 100 * i, data[i])
                        }
                    }

                    api_call.onreadystatechange = () => {
                        if(api_call.readyState == 4 && api_call.status == 200) {
                            var data = JSON.parse(api_call.responseText);
                            fun(data);
                        }
                    };
                    api_call.open("GET", url, true);
                    api_call.send();
                };
            });
        </script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="select-algo">
                        <select class="form-control" id="algo" name="algorithms">
                            <option hidden>Choose an algorithm</option>
                            <option value="bubble">Bubble Sort</option>
                            <option value="selection">Selection Sort</option>
                            <option value="insertion">Insertion Sort</option>
                            <option value="quick">Quick Sort</option>
                        </select>
                    </div>    
                </div>
                <div class="col">
                    <div class="select-no">
                        <select class="form-control" id="elements" name="elements">
                            <option hidden>Select number of elements</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="75">75</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                </div>
                <div class="col text-center">
                    <button type="button" class="btn btn-primary btn-lg" id="perform">Sort!</button>
                </div>
            </div>
        <canvas id="mycanvas"></canvas>
        </div>
    </body>
</html>